site_name: Stroke Unit DES
site_url: https://sammirosser.com/jw_hsma_des_stroke_project
repo_url: https://github.com/Bergam0t/jw_hsma_des_stroke_project

theme:
  name: material
  features:
    - navigation.expand
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.select
    - navigation.top
  palette:
    primary: blue
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy

markdown_extensions:
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details

nav:
  - Home: index.md
  - Running the Model:
    - Try the Model Online: app.md
    - Run the Model Locally: running_locally.md
  - Model Classes:
    - g: g.md
    - Patient: patient.md
    - Model: model.md
    - Trial: trial.md
  - Model Details:
    - STRESS DES Checklist: stress_des.md
  - Changelog: CHANGELOG.md
