name: deploy-mkdocs-site
on:
  push:
    branches:
      - master
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-
      - name: Install Environment Requirements
        run: |
          pip install mkdocs-material==9.7.0
          pip install mkdocstrings[python]
          pip install pandas==2.1.1
          pip install tabulate==0.9.0
          pip install openpyxl==3.1.5
          pip install -e .
      - name: Generate Markdown from Excel
        run: python docs/scripts/stress_des_to_md.py
      - name: Deploy MkDocs
        run: mkdocs gh-deploy --force
